@charset "UTF-8";

html{font-size: 100%;}

body{
    background-color:white;
    font-family: "游ゴシック体";
}

/* 見出し */
h1 {
    font-family: serif;
    font-size: 3rem;
    color: orange;
    font-weight: 700;
}

header{
    width: 600px;
}

/* リスト */
.navList{
    height: 60px;
    list-style: none;
    display: flex;
    background-color: orange;
    margin-bottom: 0px;
}

.navlist li{
    width: 100px;
}

.navList a{
    margin-left: 36px;
    text-decoration: none;
    color: #333;
    width: 100px;
}

.navList a:hover{
    color: orange;
    background-color: #333;
}

hr{
    margin-top: 0px;
}

.showtool h2{
    text-align: center;
    margin: 20px;
    font-size: 50px;
}

.sixtool {
    margin: 10px 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-template-rows: 271px 80px 271px 80px;
    place-items: center;
}

.item img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

/* h2 */
#information {
    margin-left: 100px;
}


